@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Uni-app 自动生成系统</h1>
    <p class="lead">这是一个自动生成Uni-app代码的系统.</p>
    <p><a href="JavaScript：void(0)" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>